# Игнорирование папки target (результаты сборки Maven)
target/

# Игнорирование логов
logs/
logs.txt

# Игнорирование конфигурационных файлов, содержащих локальные настройки
*.origin
flyway.conf

# Игнорирование IDE-специфических файлов (IntelliJ IDEA)
.idea/
*.iml

# Игнорирование файлов Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# Игнорирование временных файлов операционной системы
.DS_Store
Thumbs.db